[Unit]
Description=ProScout LED Service
After=network.target

[Service]
Type=simple
User=proscout
WorkingDirectory=/home/proscout/ProScout-master/device-manager
ExecStart=/home/proscout/ProScout-master/ProScout-Device/bin/python /home/proscout/ProScout-master/device-manager/leds_manager/leds_service.py
Restart=always
RestartSec=10
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target